{% extends 'base.jinja2' %}

{% block header %}
  <h1>{% block title %}Welcome{% endblock %} to Search with Machine Learning</h1>
{% endblock %}

{% block content %}
  <div>Execute a search to see results here</div>
{% endblock %}