[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opensearch-py = "*"
requests = "*"
ipython = "*"
urljoin = "*"
xgboost = "*"
pandas = "*"
numpy = "*"
numba = "*"
numexpr = "*"
sklearn = "*"
graphviz = "*"
matplotlib = "*"
fasttext = "*"
nltk = "*"
pytest = "*"
jupyter = "*"
svgling = "*"

[dev-packages]

[requires]
python_full_version = "3.9.7"
