<script>
function toggleDebug() {
  var x = document.getElementById("debug-response");
  x.classList.toggle('hidden')
}
</script>
<div class="py-8">
  <button onclick="toggleDebug()" class="bg-slate-100 p-3">View Raw Response</button>
</div>
<div id="debug-response" class="hidden">
  <pre>{{ search_response|tojson(indent=4) }}</pre>
</div>