<div id="aggregations">
  {% if search_response.aggregations%}
  <div class="aggregations-result">
    <div class="agg-header uppercase text-slate-600 pb-2 text-sm">Price</div>
    {% if "filter.name=regularPrice" not in applied_filters %}
      {% for agg in search_response.aggregations.regularPrice.buckets  %}
        {% if agg.doc_count > 1 %}
          <div class="aggregation">
            <div><a
                class="text-blue-500 flex"
                href="{{ url_for("search.query") }}?&query={{ query|e }}{{ applied_filters }}&filter.name=regularPrice&regularPrice.type=range&regularPrice.key={{ agg.key }}&regularPrice.from={{ agg.from }}&regularPrice.to={{ agg.to }}&regularPrice.displayName=Price">
                  <div class="flex-grow">{{ agg.key }}</div> <span class="text-slate-500">{{ "{:,}".format(agg.doc_count) }}</span>
                </a>
            </div>
          </div>{% endif %}
      {% endfor %}
    {% else %}
      {# We've already applied it, just display it #}
      {% for agg in search_response.aggregations.regularPrice.buckets %}
        {% if agg.doc_count > 0 %}
          <div class="aggregation">
            <div>{{ agg.key }}: {{ agg.doc_count }}</div>
          </div>{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="aggregations-result">
    <div class="agg-header uppercase text-slate-600 pt-8 pb-2 text-sm">Department</div>
    {% if "filter.name=department" not in applied_filters %}
      {% for agg in search_response.aggregations.department.buckets | sort(attribute='doc_count', reverse = True)  %}
        {% if agg.doc_count > 1 %}
          <div class="aggregation">
            <div><a class="text-blue-500 flex"
                href="{{ url_for("search.query") }}?&query={{ query|e }}{{ applied_filters }}&filter.name=department.keyword&department.keyword.type=terms&department.keyword.key={{ agg.key }}">
                <div class="flex-grow truncate">{{ agg.key }}</div> <span class="text-slate-500">{{ "{:,}".format(agg.doc_count) }}</span>
              </a>
            </div>
          </div>{% endif %}
      {% endfor %}
    {% else %}
      {# We've already applied it, just display it #}
      {% for agg in search_response.aggregations.department.buckets %}
        {% if agg.doc_count > 0 %}
          <div class="aggregation">
            <div>{{ agg.key }}: {{ agg.doc_count }}</div>
          </div>{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  {% if search_response.aggregations.missing_images %}
  <div class="aggregations-result">
    <div class="agg-header">Missing Data</div>
    <div>image: {{ search_response.aggregations.missing_images.doc_count }}</div>
  </div>
  {% endif %}
  {% endif %}
</div>
