<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Search with Machine Learning</title>
  {# <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> #}
  <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>
<body>
  <nav class="bg-blue-500 text-white px-4 pt-2">
    <h1><a href="{{ url_for("query") }}" class="text-white-500 underline">Search with Machine Learning</a></h1>
  </nav>
  <section class="content">
    <header id="main-header" class="header">
      <div id="header-content">{% block header %}{% endblock %}</div>
      {%include 'search_box.jinja2' %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  <section class="footer">
    {% block footer %}
      <div id="main-footer" class="footer text-center py-8 text-slate-400">
        <div>Copyright Daniel Tunkelang and Grant Ingersoll. 2022</div>
      </div>
    {% endblock %}
  </section>
</body>
</html>