<div id="search-box"> 
  <form method="post" action="{{ url_for('search.query') }}">
    <input name="query" id="query" type="search" value="{{ query|e }}" required>
    <input type="submit" value="Query">
    <label>Model: </label>
    <select name="model">
      <option value="simple" {% if model == "simple" %}selected{% endif %}>Simple</option>
      <option value="simple_LTR" {% if model == "simple_LTR" %}selected{% endif %}>LTR -- Simple</option>
      <option value="hand_tuned" {% if model == "hand_tuned" %}selected{% endif %} >Hand Tuned</option>
      <option value="ht_LTR" {% if model == "ht_LTR" %}selected{% endif %}>LTR -- Hand Tuned</option>
    </select>
    <label>Explain?</label><input type="checkbox" name="explain" value="true" {% if explain %}checked{% else %}{% endif %}>
    <select name="sort">
      <option value="_score" {% if sort == "_score" %}selected{% endif %} >Relevance</option>
      <option value="name.keyword" {% if sort == "name.keyword" %}selected{% endif %}>Name</option>
      <option value="salesRankShortTerm" {% if sort == "salesRankShortTerm" %}selected{% endif %}>Popularity</option>
      <option value="regularPrice" {% if sort == "regularPrice" %}selected{% endif %}>Price</option>
    </select>
    <select name="sortDir">
      <option value="asc" {% if sortDir == "asc" %}selected{% endif %}>Ascending</option>
      <option value="desc" {% if sortDir == "desc" %}selected{% endif %}>Descending</option>
    </select>
  </form>
</div>