/* Search stylings */
#search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#did-you-mean {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#query{
    width: 400px;
}

/* See https://css-tricks.com/snippets/css/complete-guide-grid/ for details on grid */
#all-results {
    display: grid;
    grid-template-columns: 200px 90%;
    grid-template-rows: 100px;
    grid-column-gap: 15px;
}

.search-results {

}

.search-result{
    margin-bottom: 10px;
}

.search-result > img{
    padding-left: 50px;
}

.search-result-odd{
    background: lightgray;
}

.search-result-name {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
}


#applied-filters{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-meta-container {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column: 1/span 2;
    justify-self: center;
    
}


#aggregations-container{
    grid-row-start: 2;
}

#search-results-container{
    grid-row-start: 2;
}

.aggregations-result{
    margin-bottom: 10px;
}

.agg-header{
    font-weight: bold;
}

.search-result-header, .filter-header{
    font-weight: bold;
}

/*
Debug
*/
#debug{
    grid-row-start: 3;
    grid-column-start: 2;
}

#debug-response{
    display: none;
}

/*
Headers and footers

*/
#header-content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}